/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */



html {
    background-color : #222629;
}

#main-content {
    width : 700px;
    margin : auto;
}

p {
    font-family : seriff;
    color : #e0e0e0;
    text-align : justify;
}

h1 {
    text-align : center;
    font-size: 140px;
    color : #802020;
}

h2 {
    text-align : center;
}

ul {
    list-style-position : inside;
}

.sidebar-nav {
    margin : auto;
    width : 700px;
}
