/* ----------------------------------- *
 * Your Styles Here
 * ----------------------------------- */



/*html {

    background-color : #CFC8C4;
}*/

body {
    background-image : url("https://d33ypg4xwx0n86.cloudfront.net/direct?url=https%3A%2F%2Fwallpapers.wallhaven.cc%2Fwallpapers%2Ffull%2Fwallhaven-345123.jpg&resize=w1408");
    background-repeat : no-repeat;
    background-attachment : fixed;
    background-position : center;
    background-size : cover;
    background-color : #000000;
}

#main-content {
    width : 600px;
    margin : auto;
}

section {
    border-style : solid;
    border-radius : 30px;
    margin : auto;
    margin-bottom : 10px;
    padding : 10px;
    background-color : rgba(207, 200, 196, .7);
}


p {
    font-family : serif;
    color : #4d362c;
    text-align : justify;
}

.site-title {
    text-align : center;
    font-size: 120px;
    color : #800517;
    background-color : rgba(207, 200, 196, .7);
    width : 650px;
    margin : auto;
    border-radius : 30px;
    margin-bottom : 40px;
}

.tagline {
    font-size : 40px;
    background-color : rgba(207, 200, 196, .7);
    width : 800px;
    margin : auto;
    border-radius : 30px;
    margin-bottom : 40px;
}

h2 {
    text-align : center;
}

ul {
    list-style-position : inside;
}









/* pallette

sadness in tones        #CFC8C4
yea, y                  #B89484
Brown surpruse          #998076
cold outside            #4D362C
Firebrick               #800517

*/
